<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652604473592-aikhlt4ifik2aaog4gp9h27cam05rt4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652604473592-aikhlt4ifik2aaog4gp9h27cam05rt4k</string>
	<key>API_KEY</key>
	<string>AIzaSyAwLlGOTwYwxCmCPjbjfylG32N1vt0QZV8</string>
	<key>GCM_SENDER_ID</key>
	<string>652604473592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zoomMeet.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zoom-meet-5caeb</string>
	<key>STORAGE_BUCKET</key>
	<string>zoom-meet-5caeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652604473592:ios:cc4b3c0c8b17f94b5b3b0d</string>
</dict>
</plist>